<div class="container" align="center">
	<strong>MEHMET KIZILTAS</strong>
    </br>
	<div class="container" align="center">
	<p>
		I graduated from inönü university computer engineering department, I am a software developer and I love software development.
		I am currently following new technologies and developing new projects.
		I have used almost all object oriented programming languages ​​so it is easy for me to learn other languages.
	</p>
	</div>
</div>